body {
  display: flex;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
  color: #000d0f;
  font-size: 14px;
  line-height: 1.2em;
  width: 100%;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0; 
}

/*
 *
 * Header
 *
 */

header {
  text-align: center;
  margin: 40px 0;
}

/*
 *
 * Main
 *
 */

main {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

/*
 *
 * Score
 *
 */

.score {
  display: flex;
  flex-direction: row;
  width: 30%;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
}

/*
 *
 * Animations
 *
 */

@keyframes flipInY {
  from {
    transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
    animation-timing-function: ease-in;
    opacity: 0;
  }

  40% {
    transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
    animation-timing-function: ease-in;
  }

  60% {
    transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
    opacity: 1;
  }

  80% {
    transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
  }

  to {
    transform: perspective(400px);
  }
}

.flipInY {
  backface-visibility: visible !important;
  animation-name: flipInY;
}


@keyframes shake {
  from,
  to {
    transform: translate3d(0, 0, 0);
    background: red;
    color: black;
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translate3d(-10px, 0, 0);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translate3d(10px, 0, 0);
  }
}

.shake {
  animation-name: shake;
}


@keyframes tada {
  from {
    transform: scale3d(1, 1, 1);
  }

  10%,
  20% {
    transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
  }

  30%,
  50%,
  70%,
  90% {
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
  }

  40%,
  60%,
  80% {
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
  }

  to {
    transform: scale3d(1, 1, 1);
    background: blue;
  }
}

.tada {
  animation-name: tada;
}

/*
 *
 * Board
 *
 */

.board {
  margin: 3em 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  justify-content: center;
}

.card {
  width: 20%;
  box-shadow: 5px 5px 1px #e6e6e6;
  border: 1px solid #cecece;
  padding: 5em;
  text-align: center;
  margin: 2em;
}

.back-card {
  background: #02ccba;
  color: transparent;
  cursor: pointer;
}

.front-card {
  animation: flipInY 2s;
  background: #fff;
}

.card {
}

.match {
  animation: tada 2s;

}

.fail {
  animation: shake 1s;
}

/*
 *
 * Footer
 *
 */

footer {
  display: flex;
  flex-direction: column;
  margin: 1.5em 0 3em 0;
  text-align: center;
}

.view-source {
  width: 40%;
  align-self: center;
  color: #4183c4;
  font-weight: 300;
  text-decoration: none;
  border-top: 1px solid #ddd;
  margin: 1.3em 0 0;
  padding: 1em 0 0;
}
